certifi==2025.8.3 ; python_version >= "3.9" and python_full_version <= "3.12.0"
charset-normalizer==3.4.3 ; python_version >= "3.9" and python_full_version <= "3.12.0"
click==8.1.8 ; python_version >= "3.9" and python_full_version <= "3.12.0"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version <= "3.12.0" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version >= "3.9" and python_full_version <= "3.12.0"
humanfriendly==10.0 ; python_version >= "3.9" and python_full_version <= "3.12.0"
idna==3.10 ; python_version >= "3.9" and python_full_version <= "3.12.0"
luadata==1.0.5 ; python_version >= "3.9" and python_full_version <= "3.12.0"
pydcs==0.15.0 ; python_version >= "3.9" and python_full_version <= "3.12.0"
pyproj==3.6.1 ; python_version >= "3.9" and python_full_version <= "3.12.0"
pyreadline3==3.5.4 ; python_version >= "3.9" and python_full_version <= "3.12.0" and sys_platform == "win32"
python-metar==1.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.0"
requests==2.32.5 ; python_version >= "3.9" and python_full_version <= "3.12.0"
urllib3==2.5.0 ; python_version >= "3.9" and python_full_version <= "3.12.0"
